Funnier/UserSettings.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="UserSettings">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ViewedPhotoIds" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="FavoritePhotoIds" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="LastViewedPhotoId" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:element>

</xs:schema>